.start-root {
  background-color: #ffd700;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-header {
  width: 100%;
  max-width: none !important;
  margin-bottom: 20px;
}

.play-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.play-button {
  background-color: #2902d6 !important;
  color: white !important;
  font-size: 3.5rem !important;
  padding: 25px 100px !important;
  font-weight: 900 !important;
  border: 4px solid black !important;
  border-radius: 0 !important;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.6) !important;
  transition: transform 0.1s !important;
  text-transform: uppercase !important;
}

.play-button:hover {
  transform: scale(1.05);
}

.play-link {
  text-decoration: none;
}