.game-root {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    /* Prevent interaction to ensure karaoke mode */
}

.youtube-iframe {
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.pitch-overlay {
    position: absolute;
    bottom: 20px;
    left: 2%;
    width: 96%;
    height: 20%;
    z-index: 10;
    pointer-events: none;
}