.score-page {
  background-color: #ffd700;
  text-align: center;
  height: 100vh;
}
.prenda {
  font-size: xxx-large;
  margin: 20px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  border: 5px solid black;
  font-weight: 700;
  align-items: center;
  background-color: #ffffff;
}

.score {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 90px;
  font-weight: 800;
  align-items: center;
}
